@model Producto

<div class="container mt-4">
    <div class="mb-4">
        <h2 class="text-center">Producto</h2>
        <p class="text-center"><strong>Producto:</strong> @Model.Descripcion</p>
        <p class="text-center"><strong>Precio:</strong> @Model.Precio</p>
    </div>
    <p class="text-center">¿Desea eliminar este producto?</p>
    <div class="text-center">
        <form asp-controller="Producto" asp-action="EliminarProductoId" method="post">
            <input type="hidden" name="IdProducto" value="@Model.IdProducto" />
            <button type="submit" class="btn btn-success">Eliminar</button>
            <a asp-controller="Producto" asp-action="Index" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>