@model AltaPresupuestoViewModel

<h2>Crear Nuevo Presupuesto</h2>

<form asp-controller= "Presupuesto" asp-action="CrearPresupuesto" method="post">
    <div class="mb-3">
        <label for="ClienteId" class="form-label">Cliente</label>
        <select name="ClienteId" class="form-control" required>
            <option value="">Seleccione un cliente</option>
            @foreach (var cliente in (IEnumerable<SelectListItem>)ViewData["Clientes"])
            {
                <option value="@cliente.Value">@cliente.Text</option>
            }
        </select>
        <span asp-validation-for="ClienteId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="FechaCreacion" class="form-label">Fecha de Creación</label>
        <input asp-for="FechaCreacion" type="date" class="form-control" />
        <span asp-validation-for="FechaCreacion" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Crear Presupuesto</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}